@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-black text-white overflow-x-hidden
}

.react-player {
    height: 75vh !important;
    width: 100% !important;
}

@media screen and (max-width: 700px) {
    .react-player {
        height: 60vh !important;
    }
}

@media screen and (max-width: 540px) {
    .react-player {
        height: 50vh !important;
    }
}



::-webkit-scrollbar {
    width: 10px;
    background: transparent;
    behavior: smooth;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background: #989898;
    border-radius: 10px;
}